@font-face {
  font-family: "Lucida";
  src: url("./fonts/Lucida Bright Regular.ttf");

  font-family: "Roxborough CF";
  src: url("./fonts/Roxborough CF.ttf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  ::selection {
    @apply bg-peepal-800 text-peepal-300;
  }

  ::-moz-selection {
    @apply bg-peepal-800 text-peepal-300;
  }

  ::-webkit-scrollbar {
    @apply w-2 bg-transparent rounded-full;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-peepal-800 rounded-[100vw];
  }
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-peepal-900;
  }

  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  /* .scroller::-webkit-scrollbar {
    @apply w-2 bg-transparent;
  }
  .scroller::-webkit-scrollbar-thumb {
    @apply w-2 bg-red-600;
  }
  .scroller::-webkit-scrollbar-thumb:hover {
    @apply w-2 bg-peepal-300;
  } */

  body {
    @apply bg-peepal-300 text-gray-800 font-roxborough;
  }
  /* .overlay {
    @apply bg-gradient-to-t from-[rgba(0,0,0,0)] via-[rgba(0,0,0,0.6)] to-[rgba(0,0,0,0.8)] absolute inset-0 w-full h-1/2 lg:h-screen;
  } */
  /* .overlay {
    @apply bg-gradient-to-t from-[rgba(0,0,0,0.5)] via-[rgba(0,0,0,0.5)] to-[rgba(0,0,0,0.8)] fixed inset-0 w-full h-screen;
  } */
}
